{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-tailwindcss"]
}